header{
    text-align: center;
    background-color: #000;
    color: #fff;
}
ul{
    align-items: center;
    
}
body{
    text-align: center;
    background-color: grey;
}
section{
    text-align: center;
    background-color: #000;
    color: #fff;
}
nav{
    text-align: center;
    background-color: #000;
    color: #fff;
}

/* these are the styles for the carousel */

.carousel {
    width: 55%;
    height: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    margin: 0 auto;
    position: relative;
  }

/* The slides are the images that will be shown in the carousel */
.slides {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide 9s infinite;
  }

.slide {
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
  }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
  }

.slides {
    display: flex;
    width: calc(100% * 29);
    height: 100%;
    transition: transform 0.5s ease-in-out;
    animation: scroll 145s linear infinite;
}


/* the animation for the carousel */

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.slide {
    flex: 0 0 calc(100% / 29);
    width: calc(0% / 29);
    height: 100%;
}


.Design {
    text-align: center;
    flex:auto 1 1 30%;
    min-width: 200px;
    padding: 20px;
    box-sizing: border-box;
    
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}


button{
    text-align: center;
    background-color: #22223b;
    padding: 20px;
    color: white;
    border: #000;
    border-radius: 20px
    

}

#suffer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    background-color: #C9ADA7;
    color: white;
    padding: 1rem;
    z-index: 1000;
    
}

#ABimg{
    float: left;
    width: 50%;
    height: 400px;

}

#ABText{
    text-align: center;
    width: 50%;
}

h1{
    text-align: center;
}

#Message{
    height: 400px;
    width: 1000px;

}

#Name{
    height: 50px;
    width: 1000px;

}

#email{
    height: 50px;
    width: 1000px;

}

.logo{
    height: 50px;
    width: 50px;
    margin: 0 auto;
    display: block;
}

.ComBG{
    background-color: grey;
    border: #000;
    border-radius: 10px;
    text-align: center;
}

/* this is for the design of cards */

.Design2 {

    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    box-sizing: border-box;
    flex:auto 1 1 30%;
    min-width: 200px;
    padding: 20px;
}


/* these are for the resize */
.stuff{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 3rem;
}
.stuff a img {
    width: 100%;
    height: 600px;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s;

}



@media (min-width: 600px) {
    .stuff {
        grid-template-columns: repeat(2, 1fr); /* tablets size */
    }
}

@media (min-width: 900px) {
    .stuff {
        grid-template-columns: repeat(3, 1fr); /* desktop size */
    }
}

.description {
    text-align: center;
    padding: 100px;
    width: 80%;
    margin-right: 90px; ;

}

@media (max-width: 900px) {      /* desktop size */
    .carousel{
        max-height: 400px;
    }
}

@media (max-width: 600px) {    /* tablets size */
    .carousel{
        max-height: 200px;
    }
}



.context{
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr;
}

@media (min-width: 900px) {
    .Design{
        flex: 1 1 100%;
    }
}
@media (min-width: 900px) {
    .Design2{
        flex: 1 1 100%;
    }
}

/* this is the image resize */


.In-port{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}


@media (min-width: 900px) {
    .In-port{
        grid-template-columns: repeat(2,1fr);
    display: grid;
    margin-left: 15%;
    margin-right: 10%;
    }
}

